

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pathway Gothic One', sans-serif;
}
#logo {
    font-weight: bold;
    font-size: 2.5rem;
}
.text-primary {
    color: rgb(171, 184, 0);
}
#navbar {
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    
}
#navbar a {
    color:white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 2px;
    margin: 0 0.25rem;
    font-size: 19px;
}
#navbar a:hover {
    background-color: yellow;
    border-radius: 3px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}
#navbar a {
    color: white;
}
#navbar a:hover{color:black;}

#showcase {
    background: #333 url("../img/engel.jpg") no-repeat center center/cover;
    height: 100vh;
    color: white;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;

}
.btn {
    display: inline-block;
    color: black;
    background: yellow;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;

}
.btn:hover {
    background: rgb(163, 163, 0);
}
.btn-dark {
    background-color: #333;
    color: white;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    text-align: center;
}

.text-center {
    text-align: center;
}
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.py-1 {
    padding: 1.5rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}
#what .items {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    z-index: -1;
}
#what .item {
    text-align: center;
    padding: 1rem;
    z-index: 0;
}
#what .items .item i {
    background: yellow;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;

}
.bg-light {
    background: rgb(128, 127, 127);
    color: black;
}
.bg-dark {
    background: #333;
    color: white;
}
.py-1 {
    padding: 1.5rem;
}
.py-2 {
    padding: 2rem;
}
.py-3 {
    padding: 3rem;
}
.list {
    margin: 0.5rem 0;
    list-style: none;
}
.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}
#who {
    display: flex;
}
#who div {
    flex: 1;
}
#who .who-img {
    background: url("../img/120524-science-crucifixion-130p.webp") no-repeat center/cover;
}
table {
    border: 0.125rem solid;
    border-collapse: collapse;
    background-color:var(--table-background);
    top: 100;
    margin-top: 50px;
    
}

th {
    height: 2rem;
    width: 10%;
    text-align: center;
    padding: 0.188rem;
    border: 0.125rem solid;
    border-bottom: 0.125rem solid;
    border-collapse: collapse;
    background-color: yellow;
}

td {
    height: 2rem;
    width: 10%;
    text-align: center;
    padding: 0.188rem;
    border-bottom: 0.063rem solid #ddd;
}

tr:hover {
    background-color: lightgray;
}
tr {
    margin-top: 150px;
}
.center {
    margin:auto;
    width: 50%;
    padding:1rem;
}
.tabula {
    top: 100px;
}
#navbar1 {
    position: static;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    z-index: 3;
}
#navbar1 a {
    color:white;
    text-decoration: none;
}
#navbar1 ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar1 ul li a {
    padding: 2px;
    margin: 0 0.25rem;
    font-size: 19px;
}
#navbar2 a:hover {
    background-color: yellow;
    border-radius: 2px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar1 ul {
        margin-top: 1rem;
    }
}
#navbar1 a {
    color: white;
}
.split-btn{
    display: flex;
    width: 30px;
    height: 40px;
}
.split-btn button{
    font-size: 1rem;
    background-color: yellow;
    color: #000;
    border-style: none;
    padding: 8px 16px;
    border-radius: 4px 0 0 4px;
}
.split-btn .dropdown{
    border-left:1px solid #ddd;
}
.split-btn .dropdown button{
    height: 100%;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
.split-btn .dropdown .dropdown-content{
    position: absolute;
    display: none;
}
.split-btn .dropdown:hover .dropdown-content{
    display: block;
    font-size: 0.8em;

}
.split-btn .dropdown .dropdown-content a{
    display: block;
    background-color:#333 ;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.split-btn .dropdown .dropdown-content a:hover{
    background-color: #ddd;
}
#zakon{
    display: flex;
}
#strz {
    background: #333 url("../img/001.The_Creation_of_Light.jpg") no-repeat center center/cover;
    height: 200vh;
    color: white;
    
}
#strz .straz {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100%;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}
.sidenav {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 75px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 10px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: flex;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: yellow;
  }
  
  /* Main content */
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    background-color: black;
    color: yellow;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .dropdown-container a:hover {
    color: black;
    background-color: yellow;
  } 
  .kap {
    margin-left: 170px;
    color: white;
    font-size: 20px;
    margin-top: 0px;
    padding: 0 4rem;
    padding: 10px 30px 0px 30px;
    text-align: left;
    margin-bottom: 20px;
    
  }

  @media  screen and (max-width: 725px) {
    .sidenav {padding-top: 40px;}
    .sidenav a {font-size: 10px;}
    .sidenav .dropdown-btn {font-size: 12px;}
    .sidenav {width: 120px;}
    .sidenav {top: 60px;}
    .kap {padding: 4px;}
    .kap {margin-top: 0px;}
    .kap {margin-left: 130px;}
    .kap {margin-right: 10px;}
    .kap {font-size: 15px;}
    
    
  }

#showcase1 {
    background: #333 url("../img/001.The_Creation_of_Light.jpg") no-repeat center center/cover;
    color: white;
    z-index: 5;
}
#showcase1 .showcase-content1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#navbar2 {
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    z-index: 3;
}
#navbar2 a {
    color:white;
    text-decoration: none;
}
#navbar2 ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar2 ul li a {
    padding: 2px;
    margin: 0 0.25rem;
    font-size: 19px;
}
#navbar2 ul li a:hover {
    background-color: yellow;
    border-radius: 2px;
    color: black;
}

@media only screen and (max-width: 725px) {
    #navbar2 ul {
        margin-top: 5px;
        font-size: 10px;
    }
    #navbar2 ul li a {
        font-size: 15px;
}
}
#navbar2 a {
    color: white;
}
.knihy {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
    text-align: center;
    margin-left: 170px;
    margin-top: 100px;
    padding: 0px 30px 0px 30px;
}
@media screen and (max-width: 725px) {
    .knihy {font-size: 40px;}
    .knihy {margin-left: 120px;}
}
.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {

    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: black;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;

    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }
  #showcase2 {
    background: #333 url("../img/001.The_Creation_of_Light.jpg") no-repeat center center/cover;
    color: white;
    z-index: 5;
}
#showcase2 .showcase-content2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.upozorneni {
    margin-top: 100px;
    color: red;
    font-size: 25px;
}
@media screen and (max-width: 725px) {
    .upozorneni{font-size: 15px;}
    .upozorneni {padding: 4px;}
    .upozorneni {margin-top: 0px;}
    .upozorneni {margin-left: 130px;}
    .upozorneni {margin-right: 10px;}

}
.zakony_ {margin-top: 100px;
          height: 200vh;}

.btnn {
    display: inline-block;
    color: black;
    background: yellow;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 60px;

}
.btnn:hover {
    background: rgb(163, 163, 0);
    
}
.btnn-dark {
    background-color: #333;
    color: white;
}
#apostolove {
display: block;
flex-direction:inherit;
padding: 5px;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 100px;
  }
  .code {
    color: white;
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: yellow;
  }
  
  .project-image {
    height: calc(90% - 20px);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 20px;
    padding: 20px 0.5rem;
  }
  .project-title {
    background-color: black;
    text-align: center;
  }
  @media only screen and (max-width: 700px) {
    .projects-section {padding: 6rem 1rem;}
    }

.project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
.projects-grid1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 7rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 100px;
  }
  .project-image1 {
    height: calc(110% - 20px);
    width: 100%;
    object-fit: cover;
  }
  .container1 {
    position: relative;
    width: 100%;
  }
  
  .image1 {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    
  }
  
  .container1:hover .overlay1 {
    opacity: 1;
  }
  
  .text1 {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* @media only screen and (max-width: 700px) {
    .navbar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
} */

/* Style the links inside the navigation bar 
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover 
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link 
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
} 
*/
