

@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Pathway Gothic One', sans-serif;
}
#logo {
    font-weight: bold;
    font-size: 2rem;
}
.text-primary {
    color: rgb(171, 184, 0);
}
#navbar {
    position: fixed;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
    width: 100%;
    
}
#navbar a {
    color:white;
    text-decoration: none;
}
#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    padding: 0.75rem;
    margin: 0 0.25rem;
    font-size: 20px;
}
#navbar ul li a:hover {
    background-color: yellow;
    border-radius: 5px;
    color: black;
}

@media only screen and (max-width: 700px) {
    #navbar ul {
        margin-top: 1rem;
    }
}
#navbar a {
    color: white;
}

#showcase {
    background: #333 url("../img/engel.jpg") no-repeat center center/cover;
    height: 100vh;
    color: white;
}
#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}
.l-heading {
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;

}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;

}
.btn {
    display: inline-block;
    color: black;
    background: yellow;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;

}
.btn:hover {
    background: rgb(163, 163, 0);
}
.btn-dark {
    background-color: #333;
    color: white;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.py-1 {
    padding: 1.5rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}
#what .items {
    display: flex;
    padding: 1rem;
}
#what .item {
    text-align: center;
    padding: 1rem;
}
#what .items .item i {
    background: yellow;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

